POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=jobs_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here

# ITVIEC Configuration (Recommend using fake account)
ITVIEC_EMAIL=
ITVIEC_PASS=

# LinkedIn Configuration (Recommend using fake account)
LINKEDIN_EMAIL=
LINKEDIN_PASS=

# Airflow Configuration
AIRFLOW__WEBSERVER__SECRET_KEY=airflow_secret_key (generate a random secret key)