agate==1.9.1
airbyte==0.31.3
airbyte-api==0.52.2
airbyte-cdk==6.61.6
airbyte_protocol_models_dataclasses==0.17.1
airbyte_protocol_models_pdv2==0.13.1
altair==4.2.2
annotated-types==0.7.0
antlr4-python3-runtime==4.11.1
anyascii==0.3.3
anyio==4.10.0
asn1crypto==1.5.1
asttokens==3.0.0
attributes-doc==0.4.0
attrs==25.3.0
Authlib==1.6.4
Automat==25.4.16
babel==2.17.0
backoff==2.2.1
beautifulsoup4==4.13.5
black==25.9.0
boltons==25.0.0
boto3==1.40.34
botocore==1.40.34
bracex==2.6
cachetools==5.5.2
cattrs==25.2.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
comm==0.2.3
constantly==23.10.4
cryptography==44.0.3
cssselect==1.3.0
cyclopts==3.24.0
daff==1.4.2
dataclasses-json==0.6.7
dateparser==1.2.2
dbt-adapters==1.16.7
dbt-common==1.32.0
dbt-core==1.10.13
dbt-duckdb==1.9.6
dbt-extractor==0.6.0
dbt-protos==1.0.375
dbt-semantic-interfaces==0.9.0
debugpy==1.8.17
decorator==5.2.1
deepdiff==8.6.1
defusedxml==0.7.1
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
docutils==0.22.1
dotenv==0.9.9
dpath==2.2.0
duckdb==1.4.0
duckdb_engine==0.13.6
dunamai==1.25.0
email-validator==2.3.0
entrypoints==0.4
exceptiongroup==1.3.0
executing==2.2.1
fastmcp==2.12.3
filelock==3.19.1
flake8==7.3.0
genson==1.3.0
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-bigquery==3.30.0
google-cloud-bigquery-storage==2.33.1
google-cloud-core==2.4.3
google-cloud-secret-manager==2.24.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
greenlet==3.2.4
grpc-google-iam-v1==0.14.2
grpcio==1.75.0
grpcio-status==1.75.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.1
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.7.0
incremental==24.7.2
inflect==7.5.0
ipykernel==6.30.1
ipython==9.6.0
ipython_pygments_lexers==1.1.1
isodate==0.6.1
isort==6.0.1
itemadapter==0.12.2
itemloaders==1.3.2
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonref==0.2
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.8.1
langchain-core==0.1.42
langsmith==0.1.147
lazy-object-proxy==1.12.0
leather==0.4.0
lxml==6.0.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mashumaro==3.14
matplotlib-inline==0.1.7
mccabe==0.7.0
mcp==1.14.1
mdurl==0.1.2
mistune==3.1.4
more-itertools==10.8.0
msgpack==1.1.1
mypy==1.18.2
mypy_extensions==1.1.0
nest-asyncio==1.6.0
networkx==3.5
nltk==3.9.1
numpy==1.26.4
openapi-core==0.19.5
openapi-pydantic==0.5.1
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
opentelemetry-api==1.37.0
opentelemetry-exporter-otlp-proto-common==1.37.0
opentelemetry-exporter-otlp-proto-http==1.37.0
opentelemetry-proto==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
orderly-set==5.5.0
orjson==3.11.3
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.2.3
parse==1.20.2
parsedatetime==2.6
parsel==1.10.0
parso==0.8.5
pathable==0.4.4
pathspec==0.12.1
platformdirs==4.4.0
posthog==6.7.4
prompt_toolkit==3.0.52
Protego==0.5.0
proto-plus==1.26.1
protobuf==6.32.1
psutil==6.1.0
psycopg==3.2.10
psycopg-binary==3.2.10
psycopg-pool==3.2.6
psycopg2==2.9.10
psycopg2-binary==2.9.10
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==2.23
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
PyDispatcher==2.0.7
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.10.1
pyOpenSSL==25.1.0
pyparsing==3.2.3
pyperclip==1.10.0
pyrate-limiter==3.1.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
python-slugify==8.0.4
python-ulid==3.1.0
pytimeparse==1.1.8
pytokens==0.1.10
pytz==2024.2
pywin32==311
PyYAML==6.0.2
pyzmq==27.1.0
queuelib==1.8.0
RapidFuzz==3.14.1
referencing==0.36.2
regex==2025.9.18
requests==2.32.5
requests-cache==1.2.1
requests-file==2.1.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==13.9.4
rich-click==1.9.0
rich-rst==1.3.1
rpds-py==0.27.1
rsa==4.9.1
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.12
s3transfer==0.14.0
scipy==1.16.1
Scrapy==2.13.3
selenium==4.35.0
serpyco-rs==1.17.1
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
snowflake-connector-python==3.17.3
snowflake-sqlalchemy==1.7.7
snowplow-tracker==1.1.0
soda-core==3.5.5
soda-core-postgres==3.5.5
sortedcontainers==2.4.0
soupsieve==2.8
SQLAlchemy==2.0.43
sqlalchemy-bigquery==1.12.0
sqlparse==0.5.3
sse-starlette==3.0.2
stack-data==0.6.3
starlette==0.48.0
structlog==24.4.0
tabulate==0.9.0
tenacity==8.5.0
text-unidecode==1.3
tldextract==5.3.0
tomlkit==0.13.3
toolz==1.0.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.30.0
trio-websocket==0.12.2
Twisted==25.5.0
typeguard==4.4.4
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
undetected-chromedriver==3.5.5
Unidecode==1.4.0
url-normalize==2.2.1
urllib3==2.5.0
uuid7==0.1.0
uv==0.8.18
uvicorn==0.35.0
w3lib==2.3.1
wcmatch==10.0
wcwidth==0.2.14
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.1
whenever==0.6.17
wsproto==1.2.0
xmltodict==0.14.2
zipp==3.23.0
zope.interface==7.2
